* {
	margin: 0px;
	box-sizing: border-box;
}
.maincontainer {
	box-sizing: border-box;
}
.containerleft {
	display: flex;
	flex-direction: column;
	margin: 0px;
	width: 30%;
	height: 100vh;
	box-sizing: border-box;
	border-top: 5px solid black;
	border-left: 5px solid black;
	border-bottom: 5px solid black;
	float: left;
}
.l1-2 {
	display: flex;
	flex-direction: row;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	text-align: center;
	flex-grow: 1;
}
.l1 {
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 1;
}
.l2 {
	flex-grow: 2;
}
.l4-14 {
	display: flex;
	flex-direction: row;
	text-align: center;
	box-sizing: border-box;
	flex-grow: 9;
}
.left1 {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	box-sizing: border-box;
}
.l3 {
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 2;
}
.l4 {
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 3;
}
.l5 {
	background-color: #FBDE43;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 3;
}
.l6 {
	box-sizing: border-box;
	flex-grow: 1;
}
.mid1 {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	flex-grow: 2;
}
.l7 {
	background-color: #F22727;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 4;
}
.l8 {
	background-color: black;
	color: white;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 2;
}
.l9 {
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 2;
}
.l10 {
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 1;
}
.right1 {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	box-sizing: border-box;
}
.l11 {
	background-color: #F22727;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 4;
}
.l12 {
	background-color: #fff;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: .78;
}
.l13 {
	background-color: #fff;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: .9;
}
.l14 {
	background-color: black;
	color: white;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 1;
}
.l15-16 {
	display: flex;
	flex-grow: 2
}
.l15 {
	background-color: #FBDE43;
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 2;
}
.l16 {
	flex-grow: 2;
}
.containermidleft {
	display: flex;
	flex-direction: column;
	margin: 0px;
	width: 20%;
	height: 100vh;
	border: 5px solid black;
	float: left;
}
.ml1 {
	background-color: #FBDE43;
	;
	text-align: center;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 1;
}
.ml2 {
	background-color: #FBDE43;
	;
	text-align: center;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 2;
}
.ml3-4 {
	display: flex;
	text-align: center;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 2;
}
.ml3 {
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 1;
}
.ml4 {
	flex-grow: 1;
}
.ml5 {
	text-align: center;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 1;
}
.ml6 {
	background-color: #1081B9;
	text-align: center;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 2;
}
.ml7 {
	display: flex;
	background-color: #F22727;
	text-align: center;
	box-sizing: border-box;
	flex-grow: 2;
}
.containermidright {
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 100vh;
	border-bottom: 5px solid black;
	border-top: 5px solid black;
	border-right: 5px solid black;
	box-sizing: border-box;
	float: left;
}
.mr1 {
	background-color: #1081B9;
	text-align: center;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 2;
}
.mr2 {
	background-color: #F22727;
	text-align: center;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 2;
}
.mr3 {
	text-align: center;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 1;
}
.mr4-5 {
	display: flex;
	text-align: center;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 2;
}
.mr4 {
	border-right: 5px solid black;
	flex-grow: 1;
}
.mr5 {
	flex-grow: 1;
}
.mr6 {
	background-color: #FBDE43;
	;
	text-align: center;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 2;
}
.mr7-8 {
	display: flex;
	text-align: center;
	box-sizing: border-box;
	flex-grow: 1;
}
.mr7 {
	border-right: 5px solid black;
	flex-grow: 1;
}
.mr8 {
	background-color: black;
	color: white;
	flex-grow: 1;
}
.containerright {
	display: flex;
	flex-direction: column;
	margin: 0px;
	width: 30%;
	height: 100vh;
	box-sizing: border-box;
	border-top: 5px solid black;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
}
.r1-3 {
	display: flex;
	flex-direction: row;
	text-align: center;
	flex-grow: 1;
	box-sizing: border-box;
	border-bottom: 5px solid black;
}
.r1 {
	background-color: #FBDE43;
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 1;
}
.r2 {
	background-color: black;
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 1;
	color: white;
}
.r3 {
	box-sizing: border-box;
	flex-grow: 5;
}
.r4-14 {
	display: flex;
	flex-direction: row;
	text-align: center;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 8;
}
.left {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	box-sizing: border-box;
}
.r4 {
	background-color: #FBDE43;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 9.5;
}
.r5 {
	background-color: black;
	color: white;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 9.5;
}
.r6 {
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 9.5;
}
.r7 {
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 9.5;
}
.r8 {
	background-color: #1081B9;
	box-sizing: border-box;
	flex-grow: 50;
}
.mid {
	display: flex;
	flex-direction: column;
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 2;
}
.r9 {
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 25;
}
.r10 {
	background-color: black;
	color: white;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 25;
}
.r11 {
	background-color: #1081B9;
	box-sizing: border-box;
	flex-grow: 54.8;
}
.right {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	box-sizing: border-box;
}
.r12 {
	background-color: #FBDE43;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 37.5;
}
.r13 {
	background-color: #fff;
	border-bottom: 5px solid black;
	box-sizing: border-box;
	flex-grow: 37.5;
}
.r14 {
	background-color: #fff;
	box-sizing: border-box;
	flex-grow: 25;
}
.r15-16 {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	text-align: center;
	flex-grow: 1;
}
.r15 {
	border-right: 5px solid black;
	box-sizing: border-box;
	flex-grow: 2;
}
.r16 {
	flex-grow: 1;
}